@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600;700&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol {
  list-style-type: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  line-height: 0.8;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

#navBar {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  padding: 16px 0;
}
#navBar .navBar__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#navBar .navBar__wrapper .navBar__menu {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 48px;
       column-gap: 48px;
}
#navBar .navBar__wrapper .navBar__menu .navBar__list {
  display: flex;
  align-items: center;
  justify-content: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
#navBar .navBar__wrapper .navBar__menu .navBar__list .navBar__list-item a {
  color: #bbbbcb;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
  transition: all linear 0.3s;
}
#navBar .navBar__wrapper .navBar__menu .navBar__list .navBar__list-item a:hover {
  color: #fff;
}
#navBar .navBar__wrapper .navBar__menu .navBar__list .navBar__list-item:nth-child(5) a {
  text-transform: uppercase;
}
#navBar .navBar__wrapper .navBar__menu .navBar__btn a {
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  padding: 16px 48px;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  transition: all linear 0.3s;
  background-color: transparent;
}
#navBar .navBar__wrapper .navBar__menu .navBar__btn a:hover {
  background-color: #fcd980;
}

#banner {
  background-color: #1C1E53;
  padding: 218px 0 128px 0;
}
#banner .banner__wrapper {
  display: flex;
  align-items: center;
  justify-content: unset;
  -moz-column-gap: 60px;
       column-gap: 60px;
}
#banner .banner__wrapper .banner__content {
  width: 582px;
}
#banner .banner__wrapper .banner__content h1 {
  color: #282938;
  width: 582px;
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
#banner .banner__wrapper .banner__content p {
  color: #282938;
  width: 562px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  padding: 24px 0 48px 0;
  color: #fff;
}
#banner .banner__wrapper .banner__content .banner__content-btn a {
  padding: 16px 56px;
  background-color: #FCD980;
  border-radius: 41px;
  color: #1b1c2b;
  font-size: 18px;
  font-weight: 600;
  line-height: 32px;
  font-family: "Manrope", sans-serif;
  text-transform: capitalize;
}
#banner .banner__wrapper .banner__content .banner__content-btn a:last-child {
  color: #fff;
  background-color: transparent;
}
#banner .banner__wrapper .banner__content .banner__content-btn a:last-child i {
  margin-left: 16px;
}
#banner .banner__wrapper .banner__img {
  width: 638px;
}

#work {
  background-color: #f4f6fc;
  padding: 128px 0;
}
#work .work__wrapper {
  display: flex;
  align-items: center;
  justify-content: unset;
  -moz-column-gap: 142px;
       column-gap: 142px;
}
#work .work__wrapper .work__heading {
  width: 405px;
}
#work .work__wrapper .work__heading h3 {
  color: #282938;
  width: 405px;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
#work .work__wrapper .work__heading p {
  color: #282938;
  width: 405px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  padding: 16px 0;
}
#work .work__wrapper .work__heading a {
  color: #282938;
  width: 244px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 32px;
  color: #2405F2;
  font-size: 18px;
}
#work .work__wrapper .work__heading a i {
  margin-left: 12px;
}
#work .work__wrapper .work__main {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-wrap: wrap;
  row-gap: 48px;
  width: 656px;
  margin-right: 77px;
}
#work .work__wrapper .work__main .work__main-item {
  width: 50%;
}
#work .work__wrapper .work__main .work__main-item h4 {
  color: #282938;
  width: 328px;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  font-family: "Poppins", sans-serif;
  padding-top: 16px;
}
#work .work__wrapper .work__main .work__main-item p {
  color: #282938;
  width: 303px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  padding-top: 8px;
}

#project {
  padding: 128px 0;
}
#project .project__heading {
  padding-bottom: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#project .project__heading h3 {
  color: #282938;
  width: 467px;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  font-family: "Poppins", sans-serif;
  text-transform: capitalize;
}
#project .project__heading a {
  color: #282938;
  width: 123px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  text-transform: capitalize;
  display: inline-block;
  text-align: right;
}
#project .project__heading a i {
  margin-left: 16px;
}
#project .project__main {
  display: flex;
  align-items: center;
  justify-content: unset;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
#project .project__main .project__main__big-project {
  width: 843px;
  height: 600px;
  overflow: hidden;
  position: relative;
}
#project .project__main .project__main__big-project img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#project .project__main .project__main__big-project .project__main__big-project-overlay {
  width: 396px;
  height: 100%;
  padding: 332px 0 76px 49px;
  background: linear-gradient(#1c1e53, rgba(28, 30, 83, 0.42));
  position: absolute;
  left: -396px;
  top: 0;
  z-index: 555;
  transition: all linear 0.3s;
}
#project .project__main .project__main__big-project .project__main__big-project-overlay h3 {
  color: #282938;
  width: 313px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-transform: capitalize;
}
#project .project__main .project__main__big-project .project__main__big-project-overlay p {
  padding: 16px 0 40px 0;
  color: #282938;
  width: 293px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  color: #fff;
}
#project .project__main .project__main__big-project .project__main__big-project-overlay a {
  color: #282938;
  width: 123px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  text-transform: capitalize;
  display: inline-block;
  width: 135px;
  color: #FCD980;
}
#project .project__main .project__main__big-project .project__main__big-project-overlay a i {
  margin-left: 16px;
}
#project .project__main .project__main__big-project .project__main__big-project-overlay:hover {
  left: 0;
}
#project .project__main .project__main__small-project {
  width: 405px;
  display: flex;
  flex-wrap: wrap;
  gap: 32px;
}
#project .project__main .project__main__small-project .project__item {
  width: 100%;
  height: 284px;
  overflow: hidden;
  position: relative;
}
#project .project__main .project__main__small-project .project__item img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#project .project__main .project__main__small-project .project__item .project__item-overlay {
  padding: 129px 36px 45px 56px;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 555;
  background: linear-gradient(#1c1e53, rgba(28, 30, 83, 0.42));
  position: absolute;
  left: -396px;
  top: 0;
  z-index: 555;
  transition: all linear 0.3s;
  left: 0;
  opacity: 0;
  width: 100%;
  height: 100%;
}
#project .project__main .project__main__small-project .project__item .project__item-overlay h3 {
  color: #282938;
  width: 313px;
  font-size: 24px;
  font-weight: 600;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  text-transform: capitalize;
}
#project .project__main .project__main__small-project .project__item .project__item-overlay a {
  color: #282938;
  width: 123px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  text-transform: capitalize;
  display: inline-block;
  width: 145px;
  color: #FCD980;
}
#project .project__main .project__main__small-project .project__item .project__item-overlay a i {
  margin-left: 16px;
}
#project .project__main .project__main__small-project .project__item .project__item-overlay:hover {
  opacity: 1;
}

#features {
  background-color: #f4f6fc;
  padding: 128px 0;
}
#features .features__heading {
  margin: 0 auto;
}
#features .features__heading h5 {
  color: #282938;
  width: 419px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  font-family: "Poppins", sans-serif;
  text-align: center;
  margin: 0 auto;
}
#features .features__heading h2 {
  color: #282938;
  width: 630px;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  font-family: "Poppins", sans-serif;
  margin: 0 auto;
  text-align: center;
  padding: 12px 0 47px 0;
  text-transform: capitalize;
}
#features .features_wrapper {
  display: flex;
  align-items: center;
  justify-content: unset;
  flex-wrap: wrap;
  gap: 24px 32px;
}
#features .features_wrapper .features__item {
  padding: 58px 32px 48px 48px;
  background-color: #fff;
  width: 405px;
}
#features .features_wrapper .features__item .features__icon i {
  width: 32px;
  height: 32px;
  color: #2405F2;
  font-size: 25px;
}
#features .features_wrapper .features__item h3 {
  color: #282938;
  width: 315px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
  padding: 22px 0 12px 0;
}
#features .features_wrapper .features__item p {
  color: #282938;
  width: 324px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
  line-height: 28px;
}

#client {
  background-color: #dce3f8;
  padding: 128px 0;
}
#client .client__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#client .client__wrapper .client__heading {
  width: 327px;
}
#client .client__wrapper .client__heading h2 {
  color: #282938;
  width: 327px;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 16px;
}
#client .client__wrapper .client__heading p {
  color: #282938;
  width: 327px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
  line-height: 28px;
}
#client .client__wrapper .client__main {
  width: 843px;
}
#client .client__wrapper .client__main .client__item h3 {
  color: #282938;
  width: 843px;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 48px;
}
#client .client__wrapper .client__main .client__item .client__info {
  display: flex;
  align-items: center;
  justify-content: unset;
  -moz-column-gap: 14px;
       column-gap: 14px;
}
#client .client__wrapper .client__main .client__item .client__info .client__avatar {
  height: 52px;
  width: 52px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
#client .client__wrapper .client__main .client__item .client__info .client__avatar img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#client .client__wrapper .client__main .client__item .client__info .client__details h4 {
  color: #282938;
  width: 183px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  font-family: "Poppins", sans-serif;
}
#client .client__wrapper .client__main .client__item .client__info .client__details p {
  color: #282938;
  width: 183px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 12px;
  line-height: 28px;
}

#faq {
  padding: 128px 0;
}
#faq .faq__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: unset;
}
#faq .faq__wrapper .faq__heading h2 {
  color: #282938;
  width: 328px;
  font-size: 38px;
  font-weight: 600;
  line-height: 56px;
  font-family: "Poppins", sans-serif;
}
#faq .faq__wrapper .faq__heading a {
  color: #282938;
  width: 123px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 28px;
  text-transform: capitalize;
  display: inline-block;
  color: #2405F2;
  width: 220px;
  padding-top: 16px;
}
#faq .faq__wrapper .faq__heading a i {
  margin-left: 16px;
}
#faq .faq__wrapper .faq__main {
  width: 846px;
}
#faq .faq__wrapper .faq__main .faq__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: start;
  border-bottom: 2px solid #ececf1;
  padding: 32px 0;
}
#faq .faq__wrapper .faq__main .faq__item .faq__info {
  display: flex;
  align-items: center;
  justify-content: unset;
  align-items: unset;
  -moz-column-gap: 58px;
       column-gap: 58px;
}
#faq .faq__wrapper .faq__main .faq__item .faq__info .faq__number span {
  color: #282938;
  width: unset;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 24px;
  line-height: 36px;
  color: #2405F2;
  font-size: 24px;
}
#faq .faq__wrapper .faq__main .faq__item .faq__info .faq__details h3 {
  color: #282938;
  width: 512px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
}
#faq .faq__wrapper .faq__main .faq__item .faq__info .faq__details p {
  color: #282938;
  width: 624px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 18px;
  line-height: 32px;
  padding-top: 16px;
}
#faq .faq__wrapper .faq__main .faq__item .faq__icon i {
  color: #282938;
  opacity: 0.7;
  font-size: 24px;
  cursor: pointer;
  line-height: 36px;
}
#faq .faq__wrapper .faq__main .faq__item:last-child {
  border: none;
}

#inquiry .inquiry__wrapper {
  display: flex;
  align-items: center;
  justify-content: unset;
  align-items: unset;
}
#inquiry .inquiry__wrapper .inquiry__img {
  width: 656px;
  height: 691px;
  overflow: hidden;
  position: relative;
}
#inquiry .inquiry__wrapper .inquiry__img picture {
  height: inherit;
  width: inherit;
}
#inquiry .inquiry__wrapper .inquiry__img picture img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#inquiry .inquiry__wrapper .inquiry__img .inquiry__img-overlay {
  background-color: rgba(28, 30, 83, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 96px;
}
#inquiry .inquiry__wrapper .inquiry__img .inquiry__img-overlay h2 {
  color: #282938;
  width: 464px;
  font-size: 54px;
  font-weight: 600;
  line-height: 74px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding-bottom: 24px;
}
#inquiry .inquiry__wrapper .inquiry__img .inquiry__img-overlay p {
  color: #282938;
  width: 464px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
  line-height: 28px;
  color: #fff;
}
#inquiry .inquiry__wrapper .inquiry__form {
  width: 624px;
  height: 691px;
  background-color: #1C1E53;
  padding: 96px 96px 48px 96px;
}
#inquiry .inquiry__wrapper .inquiry__form h4 {
  color: #282938;
  width: 432px;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  font-family: "Poppins", sans-serif;
  color: #fff;
  padding-bottom: 16px;
}
#inquiry .inquiry__wrapper .inquiry__form p {
  color: #282938;
  width: 432px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
  line-height: 28px;
  color: #f4f6fc;
  padding-bottom: 40px;
}
#inquiry .inquiry__wrapper .inquiry__form form input {
  height: 64px;
  width: 100%;
  border-radius: 8px;
  border: 1.5px solid rgba(255, 255, 255, 0.05);
  background-color: transparent;
  margin-bottom: 16px;
  outline: none;
  padding: 18px 32px;
  color: #282938;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
  line-height: 28px;
  color: #f4f6fc;
}
#inquiry .inquiry__wrapper .inquiry__form form button {
  width: 100%;
  height: 64px;
  background-color: #FCD980;
  border: none;
  outline: none;
  border-radius: 41px;
  margin-top: 23px;
  color: #282938;
  width: 100%;
  font-size: 16px;
  font-weight: 600;
  font-family: "Poppins", sans-serif;
  line-height: 18px;
  line-height: 32px;
  color: #1b1c2b;
  cursor: pointer;
  font-family: "Manrope", sans-serif;
  margin-bottom: 28px;
}
#inquiry .inquiry__wrapper .inquiry__form a {
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 32px;
  display: block;
  text-align: center;
}
#inquiry .inquiry__wrapper .inquiry__form a i {
  margin-left: 13px;
}

#blog {
  padding: 128px 0;
}
#blog .blog__heading h2 {
  color: #282938;
  width: 210px;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  font-family: "Poppins", sans-serif;
  padding-bottom: 64px;
}
#blog .blog__wrapper {
  display: flex;
  align-items: center;
  justify-content: unset;
  -moz-column-gap: 24px;
       column-gap: 24px;
  flex-wrap: wrap;
}
#blog .blog__wrapper .blog__item .blog__img {
  width: 405px;
  height: 285px;
  overflow: hidden;
}
#blog .blog__wrapper .blog__item .blog__img img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#blog .blog__wrapper .blog__item .blog__info span {
  color: #282938;
  width: 405px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
  line-height: 28px;
  display: block;
  padding: 40px 0 16px 0;
}
#blog .blog__wrapper .blog__item .blog__info h3 {
  color: #282938;
  width: 405px;
  font-size: 24px;
  font-weight: 500;
  line-height: 36px;
  font-family: "Poppins", sans-serif;
}
#blog .blog__wrapper .blog__item .blog__info p {
  padding: 16px 0 32px 0;
  color: #282938;
  width: 405px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
  line-height: 28px;
}
#blog .blog__wrapper .blog__item .blog__info a {
  color: #282938;
}
#blog .blog__wrapper .blog__item .blog__info a a {
  border-radius: 41px;
  border: 2px solid rgba(244, 246, 252, 0.2);
  padding: 16px 48px;
  color: #fff;
  font-size: 16px;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  text-transform: capitalize;
  transition: all linear 0.3s;
  background-color: transparent;
}
#blog .blog__wrapper .blog__item .blog__info a a:hover {
  background-color: #fcd980;
}
#blog .blog__wrapper .blog__item .blog__info a i {
  margin-left: 12px;
}

#footer {
  background-color: #1C1E53;
  padding-top: 96px;
}
#footer .footer__wrapper {
  width: 1060px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: unset;
}
#footer .footer__wrapper .footer__img p {
  padding-top: 22px;
  color: #282938;
  width: 399px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
  line-height: 28px;
  color: #fff;
}
#footer .footer__wrapper .footer__info h2 {
  color: #282938;
  width: 333px;
  font-size: 48px;
  font-weight: 600;
  line-height: 64px;
  font-family: "Poppins", sans-serif;
  color: #fff;
}
#footer .footer__wrapper .footer__info p {
  color: #282938;
  width: 399px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
  line-height: 28px;
  color: #f4f6fc;
  padding: 14px 0 28px 0;
}
#footer .footer__wrapper .footer__info .footer__icon {
  display: flex;
  align-items: center;
  -moz-column-gap: 27px;
       column-gap: 27px;
}
#footer .footer__wrapper .footer__info .footer__icon i {
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}
#footer .footer__contact {
  width: 517px;
  height: 95px;
  padding: 16px 137px 16px 37px;
  background-color: #FCD980;
  display: flex;
  align-items: center;
  justify-content: unset;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
#footer .footer__contact .footer__email h5 {
  color: #282938;
  width: 108px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  font-family: "Poppins", sans-serif;
}
#footer .footer__contact .footer__email p {
  color: #282938;
  width: 181px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
  line-height: 28px;
}
#footer .footer__contact .footer__phone h5 {
  color: #282938;
  width: 108px;
  font-size: 18px;
  font-weight: 500;
  line-height: 32px;
  font-family: "Poppins", sans-serif;
}
#footer .footer__contact .footer__phone p {
  color: #282938;
  width: 181px;
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
  line-height: 28px;
}
#footer .footer__copyright {
  padding: 32px 0;
  background-color: #fff;
}
#footer .footer__copyright .copyright__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#footer .footer__copyright .copyright__wrapper .footer__copyright-text p {
  color: #282938;
  width: 241px;
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  line-height: 16px;
  line-height: 28px;
}
#footer .footer__copyright .copyright__wrapper .footer__menu ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 32px;
       column-gap: 32px;
}
#footer .footer__copyright .copyright__wrapper .footer__menu ul li a {
  color: #282938;
  font-size: 16px;
  font-weight: 500;
  line-height: 28px;
  font-family: "Poppins", sans-serif;
  transition: all linear 0.3s;
}
#footer .footer__copyright .copyright__wrapper .footer__menu ul li a:hover {
  text-decoration: underline;
}/*# sourceMappingURL=style.css.map */