@import "../common/variables";
@import "../mixins/center";
@import "../mixins/heading";
@import "../mixins/paragraph";

// Client Start
#client {
  background-color: #dce3f8;
  padding: 128px 0;
  .client__wrapper {
    @include center(space-between);
    .client__heading {
      width: 327px;
      h2 {
        @include heading(327px, 38px, $semiBold, 56px);
        padding-bottom: 16px;
      }
      p {
        @include paragraph(327px, $regular, 16px);
        line-height: 28px;
      }
    }
    .client__main {
      width: 843px;
      .client__item {
        h3 {
          @include heading(843px, 32px, $medium, 48px);
          padding-bottom: 48px;
        }
        .client__info {
          @include center(unset);
          column-gap: 14px;
          .client__avatar {
            height: 52px;
            width: 52px;
            border-radius: 50%;
            overflow: hidden;
            @include center(center);
            img {
              height: 100%;
              width: 100%;
              object-fit: cover;
            }
          }
          .client__details {
            h4 {
              @include heading(183px, 18px, $medium, 32px);
            }
            p {
              @include paragraph(183px, $medium, 12px);
              line-height: 28px;
            }
          }
        }
      }
    }
  }
}
// Client End
