$menuLinkColor: #bbbbcb;
$white: #fff;
$black:#282938;
$blue: #2405F2;
$yellow: #FCD980;
$bannerBGColor: #1C1E53;
$bold: 700;
$semiBold:600;
$medium: 500;
$regular:400;
$paragraphFontSize: 16px;
$fontFamily: 'Poppins', sans-serif;